@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {

  --bg:#0A182E;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #e54cff;
  --clr-4: #64ffda;  
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
  
} 

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
} 

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  /* text-align: center; */
}


